.games-container {
    display: flex;
    flex-wrap: wrap;

    > a {
        flex-grow: 1;
        min-width: 200px;
        max-width: 400px;
        margin: 0 16px 16px 0;
    }
}

.game-content {
    margin-top: 16px;

    .preview-img {
        float: left;
        width: 160px;
        height: 160px;
        margin: 0 16px 16px 0;
    }

    p {
        margin-top: 0;
        text-indent: 24px;

        > strong {
            color: #fff;
        }
    }
}

.game-extras {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.requirements {
    margin-right: 32px;

    td:first-child {
        padding-right: 8px;
        color: $text-light-gray;
    }
}
