body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $bg;
    color: $text-light;
}

h1 {
    color: $primary;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: darken($link-color, 15%);
        transition: 0.5s;
    }
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
}

.btn-primary {
    background-color: $primary-dark;
    color: #fff;
}

::selection {
    background-color: $primary;
    color: #fff;
}

.container {
    padding: 16px;
    max-width: $max-width;
    margin: auto;
}
