// Colors
$bg: #1e1a21;
$nav: #30203e;

$primary: #6a1b9a;
$primary-light: #9c4dcc;
$primary-dark: #38006b;

$secondary: #00838f;
$secondary-light: #4fb3bf;
$secondary-dark: #005662;

$text-light: #ccc;

$link-color: #faabff;


// Sizes
$max-width: 1090px;
