// Colors
$bg: #1e1a21;
$bg-secondary: #30203e;

$primary: #b67cff;
$primary-dark: #7e33dc;
$secondary: #3ee2f1;

$text-light: #f5f5f5;
$text-light-gray: #ababab;
$text-disabled: #7f7f7f;
$link-color: $secondary;


// Sizes
$max-width: 1090px;
$nav-height: 51px;


// Mixins
@mixin text-shadow() {
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
}
